:root {
  --primary-font: "Rubik", sans-serif;
  --secondary-font: "Sorts Mill Goudy", serif;
  --primary-color: #171e28;
  --secondary-color: #222a35;
  --icon-color: #000000;
  --highlight-color: #d8c622;
  --main-text-color: #f6f9f5;
  --sub-text-color: #6e757d;
  --heading-size: 2.5rem;
  --text-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 0 70px 35px;
}

.main {
  background-color: #f8e6d8;
  color: var(--main-text-color);
  padding-top: 50px;
  font-family: var(--primary-font);
  font-size: var(--text-size);
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  background-color: var(--primary-color);
  box-shadow: 0 10px 20px rgb(122, 122, 122);
  transition: 0.5s;
}

.main-info {
  position: relative;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.main-info__position,
.main-info__title {
  position: absolute;
  left: 70px;
}

.main-info__position {
  bottom: 28%;
  font-size: 1.3rem;
  color: var(--sub-text-color);
}

.main-info__title {
  bottom: 0;
  max-width: 300px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: var(--heading-size);
  line-height: 2.9rem;
}

.avatar {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.avatar__image {
  width: 100%;
  height: 100%;
}

.navigation {
  margin: 0 0 30px 0;
  transition: 0.5s;
}

.navigation__menu {
  display: flex;
  justify-content: space-around;
}

.navigation__item {
  font-size: 1rem;
}

.navigation__link {
  position: relative;
  text-decoration: none;
}

.navigation__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: var(--highlight-color);
  transform: scaleX(0);
  transition: 0.7s;
}

.navigation__link:hover::after {
  transform: scaleX(1);
}

.link {
  color: var(--sub-text-color);
  text-decoration: none;
  transition: 0.5s;
}

.link:hover {
  color: var(--main-text-color);
}

.burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.burger-menu__item {
  width: 20px;
  background-color: var(--main-text-color);
  position: relative;
  float: left;
  clear: both;
  height: 2px;
  transition: 0.5s, opacity 1s;
  margin-bottom: 7px;
  z-index: 3;
}

.overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  opacity: 0.9;
  z-index: 1;
}

.title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: var(--heading-size);
  color: var(--main-text-color);
  padding: 30px 0 30px 50px;
}

.list {
  position: relative;
  margin-left: auto;
  max-width: 80%;
  padding-left: 30px;
}

.list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.list__item {
  padding-bottom: 7px;
}

.link {
  color: var(--sub-text-color);
  text-decoration: none;
  transition: 0.5s;
}

.link:hover {
  color: var(--main-text-color);
}

.icon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  transition: 0.5s;
  fill: var(--icon-color);
}

.icon:hover {
  fill: var(--main-text-color);
}

.icon_large {
  width: 100px;
}

.skills-list {
  list-style-position: inside;
  column-count: 3;
}

.summary__text {
  line-height: 1.5rem;
  text-indent: 25px;
}

.experience-list__position,
.experience-list__company,
.experience-list__duration,
.experience-list__title {
  font-size: 1.2rem;
}

.experience-list__item {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.experience-list__item--no-flex {
  display: block;
  margin-bottom: 30px;
}

.experience-list__title {
  display: block;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.achievements,
.projects {
  padding-top: 20px;
}

.achievements__title,
.projects__title {
  color: var(--sub-text-color);
  font-weight: 600;
  padding-bottom: 10px;
}

.achievements__item:not(:first-child),
.projects__item:not(:first-child) {
  position: relative;
  padding-left: 20px;
}

.achievements__item:not(:first-child)::before,
.projects__item:not(:first-child)::before {
  content: "-";
  position: absolute;
  left: 0;
}

.project {
  max-width: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

.project__title {
  font-weight: 500;
  color: var(--sub-text-color);
  text-transform: uppercase;
  font-size: var(--text-size);
  margin-bottom: 10px;
}

.project__wrapper {
  height: 250px;
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.project__wrapper:hover .project__info {
  transition: 0.5s;
  opacity: 1;
}

.project__screen {
  width: autp;
  height: 100%;
}

.project__info {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(44, 44, 44, 0.8);
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: 0.5s;
  pointer-events: none;
}

.project__technologies {
  font-size: var(--text-size);
  font-family: var(--secondary-font);
  font-weight: 600;
  font-weight: 600;
  padding-bottom: 10px;
  letter-spacing: 1.5px;
}

.technologies {
  display: flex;
  flex-direction: column;
}

.technologies__item {
  padding-bottom: 7px;
}

.code-box__description {
  font-style: italic;
}

.code-box__kata {
  font-style: normal;
  font-weight: 700;
  color: var(--sub-text-color);
}

.courses-list__item {
  padding-bottom: 15px;
  line-height: 1.5rem;
}

.courses-item__title {
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 30px 0 30px;
}

@media screen and (max-width: 992px) {
  section {
    padding: 0 10% 35px;
  }

  .burger-menu {
    display: block;
  }

  .navigation {
    margin: 0 0 0 70px;
  }

  .navigation__menu {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 3;
    height: 100vh;
  }

  .burger-menu.active .burger-menu__item {
    background-color: var(--sub-text-color);
  }

  .burger-menu.active .burger-menu__item:first-child {
    transform: rotate(45deg) translateX(6px);
  }

  .burger-menu.active .burger-menu__item:last-child {
    transform: rotate(-45deg) translateX(6px);
  }

  .burger-menu.active + .navigation__menu {
    display: block;
    transition: 0.5s;
  }

  .navigation__item {
    padding-bottom: 20px;
    font-size: 2rem;
  }

  .container {
    padding-top: 70px;
  }

  .main-info__position {
    top: 300px;
  }

  .main-info__title {
    top: 330px;
  }

  .main-info__title {
    max-width: 100%;
    font-size: calc(var(--heading-size) - 0.3rem);
  }

  .title {
    font-size: calc(var(--heading-size) - 0.3rem);
    padding: 35px 0 0;
  }

  .list {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .avatar {
    width: 240px;
    height: 240px;
  }

  .main-info__position,
  .main-info__title {
    left: 10%;
  }

  .main-info__position {
    font-size: 1.2rem;
    top: 280px;
  }

  .main-info__title {
    font-size: 1.5rem;
    top: 300px;
  }

  .skills-list {
    column-count: 2;
  }

  .experience-list__item {
    flex-direction: column;
    gap: 0;
  }

  .project__wrapper {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navigation__item {
    font-size: 1.5rem;
  }

  .avatar {
    width: 200px;
    height: 200px;
  }

  .main-info__position {
    top: 250px;
    font-size: 0.8rem;
  }

  .main-info__title {
    top: 270px;
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.7rem;
  }

  .list {
    max-width: 100%;
  }

  .skills-list {
    column-count: 1;
  }
}

